addletters
bestguess
bounce
chaos
charsnow
consine
countpi
crop
exclude
fecho
graph
hdraw
hex
life
money
movers
myatoi
particles
pascaltri
playnotes
printargs
polyline
rainbow
roman
rule90
ruler
runlength
safegets
series
spellnum
stats
throttle
unhdraw
