addletters
bestguess
bounce
chaos
charsnow
consine
countpi
crop
exclude
fecho
hdraw
hex
life
money
movers
myatoi
particles
pascaltri
playnotes
polyline
rainbow
roman
rule90
ruler
runlength
safegets
series
stats
throttle
unhdraw